/****************************************************
 *	MIXINS: MEDIA QUERIES
 * *************************************************/

@mixin respond($breakpoint) {

    @if $breakpoint==vuhd {
        @media only screen and (max-width: 2560px) {
            @content;
        }
    }
    @if $breakpoint==uhd {
        @media only screen and (max-width: 1792px) {
            @content;
        }
    }

    @if $breakpoint==hd {
        @media only screen and (max-width: 1500px) {
            @content;
        }
    }

    @if $breakpoint==md {
        @media only screen and (max-width: 1280px) {
            @content;
        }
    }

    @if $breakpoint==tablet {
        @media only screen and (max-width: 768px) {
            @content;
        }
    }

    @if $breakpoint==mobile {
        @media only screen and (max-width: 500px) {
            @content;
        }
    }
}


@mixin transition() {
    transition: $transition;
}

@mixin show() {
    opacity: 1;
    visibility: visible;
}

@mixin hide() {
    opacity: 0;
    visibility: hidden;
}

@mixin underline() {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    border-bottom: 1px solid $bg;
    transition: border 0.25s ease-out;;
}
